*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  width: 100%;
  height: 100%
}

body {
  height: 100%;
  min-height: 100%;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: -webkit-calc(14px + .3vw);
  font-size: -moz-calc(14px + .3vw);
  font-size: calc(14px + .3vw);
  font-display: swap
}

li {
  list-style: none
}

.section {
  text-align: center
}

.section {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

.loading-screen {
  margin: 0;
  background: -o-radial-gradient(#cecece, #fff);
  background: -webkit-radial-gradient(#cecece, #fff);
  background: -moz-radial-gradient(#cecece, #fff);
  background: radial-gradient(#cecece, #fff);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center
}

.loader {
  width: 350px;
  height: 350px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: -o-linear-gradient(285deg, rgba(255, 255, 255, 1) 0, #dcdcdc 40%, #aaa 98%, #0a0a0a 100%);
  background: -webkit-linear-gradient(285deg, rgba(255, 255, 255, 1) 0, #dcdcdc 40%, #aaa 98%, #0a0a0a 100%);
  background: -moz-linear-gradient(285deg, rgba(255, 255, 255, 1) 0, #dcdcdc 40%, #aaa 98%, #0a0a0a 100%);
  background: linear-gradient(165deg, rgba(255, 255, 255, 1) 0, #dcdcdc 40%, #aaa 98%, #0a0a0a 100%);
  position: absolute;
  z-index: 999999
}

.loader:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border-bottom: 0 solid #ffffff05;
  z-index: 999999;
  -webkit-box-shadow: 0 -10px 20px 20px #ffffff40 inset, 0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset, 0 -3px 2px #ffffffbb inset, 0 2px 0 #fff, 0 2px 3px #fff, 0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
  -moz-box-shadow: 0 -10px 20px 20px #ffffff40 inset, 0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset, 0 -3px 2px #ffffffbb inset, 0 2px 0 #fff, 0 2px 3px #fff, 0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
  box-shadow: 0 -10px 20px 20px #ffffff40 inset, 0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset, 0 -3px 2px #ffffffbb inset, 0 2px 0 #fff, 0 2px 3px #fff, 0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-animation: 2s rotate linear infinite;
  -moz-animation: 2s rotate linear infinite;
  -o-animation: 2s rotate linear infinite;
  animation: 2s rotate linear infinite
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-moz-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-o-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

.full-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -o-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s
}

.full-menu .modal-close {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 50px;
  height: 45px;
  width: 45px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(0, 0, 0, .3) url(../img/cd-icon-close.svg) no-repeat center center;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  visibility: 0s .3s, opacity .3s 0s;
  -webkit-transition: visibility 0s .3s, opacity .3s 0s, -webkit-transform .3s 0s;
  transition: visibility 0s .3s, opacity .3s 0s, -webkit-transform .3s 0s;
  -o-transition: transform .3s 0s, visibility 0s .3s, opacity .3s 0s;
  -webkit-transition: visibility 0s .3s, opacity .3s 0s, -webkit-transform .3s 0s;
  -o-transition: visibility 0s .3s, opacity .3s 0s, -o-transform .3s 0s;
  -moz-transition: transform .3s 0s, visibility 0s .3s, opacity .3s 0s, -moz-transform .3s 0s;
  transition: transform .3s 0s, visibility 0s .3s, opacity .3s 0s;
  transition: transform .3s 0s, visibility 0s .3s, opacity .3s 0s, -webkit-transform .3s 0s, -moz-transform .3s 0s, -o-transform .3s 0s;
  transition: transform .3s 0s, visibility 0s .3s, opacity .3s 0s, -webkit-transform .3s 0s
}

.no-touch .full-menu .modal-close:hover {
  background-color: rgba(0, 0, 0, .5)
}

.full-menu.visible {
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .7s, visibility 0s;
  -o-transition: opacity .7s, visibility 0s;
  -moz-transition: opacity .7s, visibility 0s;
  transition: opacity .7s, visibility 0s
}

.full-menu.visible .fullmenu-content {
  -webkit-overflow-scrolling: touch
}

.full-menu.visible .modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s 0s, opacity .3s 0s, -webkit-transform .3s 0s;
  transition: visibility 0s 0s, opacity .3s 0s, -webkit-transform .3s 0s;
  -o-transition: transform .3s 0s, visibility 0s 0s, opacity .3s 0s;
  -webkit-transition: visibility 0s 0s, opacity .3s 0s, -webkit-transform .3s 0s;
  -o-transition: visibility 0s 0s, opacity .3s 0s, -o-transform .3s 0s;
  -moz-transition: transform .3s 0s, visibility 0s 0s, opacity .3s 0s, -moz-transform .3s 0s;
  transition: transform .3s 0s, visibility 0s 0s, opacity .3s 0s;
  transition: transform .3s 0s, visibility 0s 0s, opacity .3s 0s, -webkit-transform .3s 0s, -moz-transform .3s 0s, -o-transform .3s 0s;
  transition: transform .3s 0s, visibility 0s 0s, opacity .3s 0s, -webkit-transform .3s 0s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1)
}

.cd-transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden
}

.cd-transition-layer .bg-layer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-2%);
  -ms-transform: translateY(-50%) translateX(-2%);
  -moz-transform: translateY(-50%) translateX(-2%);
  -o-transform: translateY(-50%) translateX(-2%);
  transform: translateY(-50%) translateX(-2%);
  height: 100%;
  width: 2500%;
  background: url(../img/ink.png) no-repeat 0 0;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%
}

.cd-transition-layer.visible {
  opacity: 1;
  visibility: visible
}

.cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 1s steps(24);
  -moz-animation: cd-sequence 1s steps(24);
  -o-animation: cd-sequence 1s steps(24);
  animation: cd-sequence 1s steps(24);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}

.cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence-reverse 1s steps(24);
  -moz-animation: cd-sequence-reverse 1s steps(24);
  -o-animation: cd-sequence-reverse 1s steps(24);
  animation: cd-sequence-reverse 1s steps(24);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}

.no-cssanimations .cd-transition-layer {
  display: none
}

@-webkit-keyframes cd-sequence {
  0% {
    -webkit-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%)
  }

  100% {
    -webkit-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%)
  }
}

@-moz-keyframes cd-sequence {
  0% {
    -webkit-transform: translateY(-50%) translateX(-2%);
    -moz-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%)
  }

  100% {
    -webkit-transform: translateY(-50%) translateX(-98%);
    -moz-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%)
  }
}

@-o-keyframes cd-sequence {
  0% {
    -webkit-transform: translateY(-50%) translateX(-2%);
    -o-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%)
  }

  100% {
    -webkit-transform: translateY(-50%) translateX(-98%);
    -o-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%)
  }
}

@keyframes cd-sequence {
  0% {
    -webkit-transform: translateY(-50%) translateX(-2%);
    -moz-transform: translateY(-50%) translateX(-2%);
    -o-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%)
  }

  100% {
    -webkit-transform: translateY(-50%) translateX(-98%);
    -moz-transform: translateY(-50%) translateX(-98%);
    -o-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%)
  }
}

@-webkit-keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%)
  }

  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%)
  }
}

@-moz-keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
    -moz-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%)
  }

  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
    -moz-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%)
  }
}

@-o-keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
    -o-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%)
  }

  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
    -o-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%)
  }
}

@keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
    -moz-transform: translateY(-50%) translateX(-98%);
    -o-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%)
  }

  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
    -moz-transform: translateY(-50%) translateX(-2%);
    -o-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%)
  }
}

.full-menu .fullmenu-content {
  height: 100%;
  width: 100%;
  display: table
}

.page-menu {
  display: table-cell;
  vertical-align: middle;
  text-align: center
}

.page-menu li {
  line-height: 50px;
  margin-left: -25px
}

.page-menu li:last-child {
  line-height: 90px
}

.page-menu li a {
  color: #fff;
  font-size: 26px;
  position: relative;
  font-weight: 400;
  font-family: Lora, serif
}

.social img {
  width: 15px
}

.main .social {
  margin-top: 30px
}

.social a {
  margin-right: 20px
}

.social a:hover img {
  opacity: .6;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  -moz-transition: all ease .3s;
  transition: all ease .3s
}

.social a:last-child {
  margin-right: 0
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  position: absolute;
  bottom: 25px;
  right: 20px;
  color: #fff;
  z-index: 1
}

.nav {
  list-style-type: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center
}

.nav a {
  text-decoration: none;
  margin: 0 .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  color: #fff;
  -webkit-border-radius: .25em;
  -moz-border-radius: .25em;
  border-radius: .25em;
  background-color: #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 1
}

.smooth {
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh
}

.landing-page-container {
  width: 100%;
  height: 100%;
  background-image: url(../img/lerner5.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  display: table;
  color: #000
}

.content-wrapper {
  width: 90%;
  margin: 0 auto;
  position: relative
}

header {
  position: fixed;
  padding: 30px;
  padding: 2.2vw;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  width: 100%
}

.menu-icon {
  width: 41px;
  width: 3vw;
  height: 60px;
  height: 4.4vw;
  background-image: url(../img/Armenian.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  cursor: pointer
}

.header__item {
  float: left;
  display: inline-block
}

.menu-icon_line {
  width: 1.5rem;
  height: .2rem;
  background: #0c383e;
  display: block
}

.menu-icon_line:after,
.menu-icon_line:before {
  content: "";
  width: 1.5rem;
  height: .2rem;
  background: #0c383e;
  display: inline-block;
  position: relative
}

.menu-icon_line:before {
  left: .5rem;
  top: -.6rem
}

.menu-icon_line:after {
  top: -1.8rem
}

.heading {
  font-size: 2.5vw;
  margin: 0 8px;
  margin: 0 .6vw;
  font-style: italic;
  font-weight: 600;
  font-family: Lora, serif
}

.nav-icon {
  width: 23px;
  width: 2.2vw;
  height: 18px;
  height: 1.3vw;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  margin-top: 7px;
  float: right;
  margin-left: 0
}

.nav-icon span {
  display: block;
  position: absolute;
  height: .2vw;
  width: 100%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  background: #000
}

.nav-icon span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center
}

.nav-icon span:nth-child(2) {
  top: 6px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center
}

.nav-icon span:nth-child(3) {
  top: 12px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  width: 60%;
  right: 0 !important
}

.nav-icon:hover span:nth-child(3) {
  width: 100%
}

.ellipse-container {
  width: 34.1vw;
  height: 34vw;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: .5rem
}

.greeting {
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: .5vw;
  font-size: 4.2vw;
  font-weight: 500;
  text-align: center;
  opacity: .8;
  font-family: Lora, serif
}

.ellipse-container .greeting:after {
  content: "";
  width: .3rem;
  height: .3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  background-color: #0c383e;
  position: relative;
  top: -.65rem;
  left: -5.05rem
}

.elipse {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  border-style: solid
}

.elipse__outer--thin {
  width: 100%;
  height: 100%;
  border-width: 1px;
  background-color: rgba(9, 56, 62, .1);
  -webkit-animation: elipseOrbit 15s ease-in-out infinite;
  -moz-animation: elipseOrbit 15s ease-in-out infinite;
  -o-animation: elipseOrbit 15s ease-in-out infinite;
  animation: elipseOrbit 15s ease-in-out infinite
}

.elipse__outer--thin:after {
  content: "";
  background-image: url(../img/Haverj.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 90% 90%;
  -moz-background-size: 90%;
  -o-background-size: 90%;
  background-size: 90%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: .8
}

.elpise__outer--thick {
  width: 100%;
  height: 100%;
  border-color: #000 transparent;
  border-width: 2px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: elipseRotate 15s ease-in-out infinite;
  -moz-animation: elipseRotate 15s ease-in-out infinite;
  -o-animation: elipseRotate 15s ease-in-out infinite;
  animation: elipseRotate 15s ease-in-out infinite
}

.elipse__orbit {
  width: 2.5rem;
  width: 2vw;
  height: 2.5rem;
  height: 2vw;
  border-width: 2px;
  border-color: #000;
  top: 3.89vw;
  right: 28vw
}

.elipse__orbit:before {
  content: "";
  width: .7rem;
  width: .6vw;
  height: .7rem;
  height: .6vw;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  background-color: #000;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%)
}

@-webkit-keyframes elipseRotate {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }

  100% {
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg)
  }
}

@-moz-keyframes elipseRotate {
  0% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }

  100% {
    -webkit-transform: rotate(-405deg);
    -moz-transform: rotate(-405deg);
    transform: rotate(-405deg)
  }
}

@-o-keyframes elipseRotate {
  0% {
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }

  100% {
    -webkit-transform: rotate(-405deg);
    -o-transform: rotate(-405deg);
    transform: rotate(-405deg)
  }
}

@keyframes elipseRotate {
  0% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }

  100% {
    -webkit-transform: rotate(-405deg);
    -moz-transform: rotate(-405deg);
    -o-transform: rotate(-405deg);
    transform: rotate(-405deg)
  }
}

@-webkit-keyframes elipseOrbit {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-moz-keyframes elipseOrbit {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-o-keyframes elipseOrbit {
  0% {
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes elipseOrbit {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

:root {
  --z-distance: 8.519vw
}

.slider {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d
}

.slider::after,
.slider::before {
  content: "";
  left: 0;
  top: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  will-change: opacity;
  z-index: -1;
  -webkit-box-shadow: 0 0 0 50vmax rgba(0, 0, 0, .7) inset;
  -moz-box-shadow: 0 0 0 50vmax rgba(0, 0, 0, .7) inset;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, .7) inset
}

.slider::before {
  background-image: var(--img-prev)
}

.slider::after {
  -webkit-transition: opacity .7s;
  -o-transition: opacity .7s;
  -moz-transition: opacity .7s;
  transition: opacity .7s;
  opacity: 0;
  background-image: var(--img-next)
}

.slider--bg-next::after {
  opacity: 1
}

.slider__content {
  margin: auto;
  width: 65vw;
  height: 32.5vw;
  max-height: 60vh;
  will-change: transform;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  pointer-events: none;
  -webkit-transform: translateZ(var(--z-distance));
  -moz-transform: translateZ(var(--z-distance));
  transform: translateZ(var(--z-distance))
}

.slider__images {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-box-shadow: 0 0 5em #000;
  -moz-box-shadow: 0 0 5em #000;
  box-shadow: 0 0 5em #000
}

.slider__images-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  will-change: transform;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  visibility: hidden
}

.slider__images-item img {
  display: block;
  position: relative;
  left: -1em;
  top: -1em;
  width: -webkit-calc(100% + 1em * 2);
  width: -moz-calc(100% + 1em * 2);
  width: calc(100% + 1em * 2);
  height: -webkit-calc(100% + 1em * 2);
  height: -moz-calc(100% + 1em * 2);
  height: calc(100% + 1em * 2);
  -o-object-fit: cover;
  object-fit: cover;
  will-change: transform
}

.slider__images-item--active {
  z-index: 20;
  visibility: visible
}

.slider__images-item--subactive {
  z-index: 15;
  visibility: visible
}

.slider__images-item--next {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%)
}

.slider__images-item--prev {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%)
}

.slider__images-item--transit {
  -webkit-transition: opacity .7s, -webkit-transform .7s;
  transition: opacity .7s, -webkit-transform .7s;
  -o-transition: transform .7s, opacity .7s;
  -o-transition: opacity .7s, -o-transform .7s;
  -moz-transition: transform .7s, opacity .7s, -moz-transform .7s;
  transition: transform .7s, opacity .7s;
  transition: transform .7s, opacity .7s, -webkit-transform .7s, -moz-transform .7s, -o-transform .7s;
  transition: transform .7s, opacity .7s, -webkit-transform .7s
}

.slider__text {
  position: relative;
  height: 100%
}

.slider__text-item {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: .5em;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d
}

.slider__text-item>* {
  overflow: hidden;
  position: absolute
}

.slider__text-item h3,
.slider__text-item p {
  -webkit-transition: -webkit-transform .35s ease-out;
  transition: -webkit-transform .35s ease-out;
  -o-transition: transform .35s ease-out;
  -o-transition: -o-transform .35s ease-out;
  -moz-transition: transform .35s ease-out, -moz-transform .35s ease-out;
  transition: transform .35s ease-out;
  transition: transform .35s ease-out, -webkit-transform .35s ease-out, -moz-transform .35s ease-out, -o-transform .35s ease-out;
  transition: transform .35s ease-out, -webkit-transform .35s ease-out;
  line-height: 1.5;
  overflow: hidden
}

.slider__text-item h3 {
  background-color: rgba(255, 255, 255, .5)
}

.slider__text-item p {
  padding: 1em;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, .5)
}

.slider__text-item h3::before,
.slider__text-item p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform .35s ease-out .28s;
  transition: -webkit-transform .35s ease-out .28s;
  -o-transition: transform .35s ease-out .28s;
  -o-transition: -o-transform .35s ease-out .28s;
  -moz-transition: transform .35s ease-out .28s, -moz-transform .35s ease-out .28s;
  transition: transform .35s ease-out .28s;
  transition: transform .35s ease-out .28s, -webkit-transform .35s ease-out .28s, -moz-transform .35s ease-out .28s, -o-transform .35s ease-out .28s;
  transition: transform .35s ease-out .28s, -webkit-transform .35s ease-out .28s
}

.slider__text-item h3::before {
  background-color: #000
}

.slider__text-item p::before {
  background-color: #fff
}

.slider__text-item h3 {
  margin: 0;
  font-size: 3.5em;
  padding: 0 .3em;
  position: relative;
  font-weight: 700;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  font-style: italic;
  font-family: Lora, serif
}

.slider__text-item p {
  margin: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  font-family: Lora, serif;
  font-weight: 500
}

.slider__text-item-head {
  top: -.5em;
  -webkit-transform: translateZ(3em);
  -moz-transform: translateZ(3em);
  transform: translateZ(3em)
}

.slider__text-item-info {
  bottom: 0;
  right: 0;
  max-width: 75%;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  -webkit-transform: translateZ(2em);
  -moz-transform: translateZ(2em);
  transform: translateZ(2em);
  font-family: Lora, serif
}

.slider__text-item--active h3,
.slider__text-item--active p {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0)
}

.slider__text-item--active h3::before {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%)
}

.slider__text-item--active p::before {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%)
}

.slider__text-item--backwards h3::before,
.slider__text-item--backwards p::before {
  -webkit-transition: -webkit-transform .35s ease-in;
  transition: -webkit-transform .35s ease-in;
  -o-transition: transform .35s ease-in;
  -o-transition: -o-transform .35s ease-in;
  -moz-transition: transform .35s ease-in, -moz-transform .35s ease-in;
  transition: transform .35s ease-in;
  transition: transform .35s ease-in, -webkit-transform .35s ease-in, -moz-transform .35s ease-in, -o-transform .35s ease-in;
  transition: transform .35s ease-in, -webkit-transform .35s ease-in
}

.slider__text-item--backwards h3,
.slider__text-item--backwards p {
  -webkit-transition: -webkit-transform .35s ease-in .35s;
  transition: -webkit-transform .35s ease-in .35s;
  -o-transition: transform .35s ease-in .35s;
  -o-transition: -o-transform .35s ease-in .35s;
  -moz-transition: transform .35s ease-in .35s, -moz-transform .35s ease-in .35s;
  transition: transform .35s ease-in .35s;
  transition: transform .35s ease-in .35s, -webkit-transform .35s ease-in .35s, -moz-transform .35s ease-in .35s, -o-transform .35s ease-in .35s;
  transition: transform .35s ease-in .35s, -webkit-transform .35s ease-in .35s
}

.slider__nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  text-align: center
}

.slider__nav-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0
}

.slider__nav-arrow {
  height: 100vh;
  width: 50vw;
  text-indent: -9999px;
  white-space: nowrap
}

.slider__nav-arrow--left {
  --arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 4 4'%3E %3Cpolyline points='3 1 1 2 3 3' stroke='white' stroke-width='.3' stroke-opacity='.5' fill='none'%3E%3C/polyline%3E %3C/svg%3E");
  cursor: var(--arrow) 40 40, auto
}

.slider__nav-arrow--right {
  --arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 4 4'%3E %3Cpolyline points='1 1 3 2 1 3' stroke='white' stroke-width='.3' stroke-opacity='.5' fill='none'%3E%3C/polyline%3E %3C/svg%3E");
  cursor: var(--arrow) 40 40, auto
}

.slider__nav-dots {
  margin-top: 85vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: inline-flex;
  position: relative;
  padding: 1em;
  pointer-events: none
}

.slider__nav-dots::before {
  content: "";
  position: absolute;
  left: -webkit-calc(1em + 1em + 2px);
  left: -moz-calc(1em + 1em + 2px);
  left: calc(1em + 1em + 2px);
  top: -webkit-calc(1em + 2px);
  top: -moz-calc(1em + 2px);
  top: calc(1em + 2px);
  width: -webkit-calc(1em - 2px * 2);
  width: -moz-calc(1em - 2px * 2);
  width: calc(1em - 2px * 2);
  height: -webkit-calc(1em / 2 - 2px * 2);
  height: -moz-calc(1em / 2 - 2px * 2);
  height: calc(1em / 2 - 2px * 2);
  background-color: rgba(255, 255, 255, .9);
  -webkit-transition: -webkit-transform .7s ease-out;
  transition: -webkit-transform .7s ease-out;
  -o-transition: transform .7s ease-out;
  -o-transition: -o-transform .7s ease-out;
  -moz-transition: transform .7s ease-out, -moz-transform .7s ease-out;
  transition: transform .7s ease-out;
  transition: transform .7s ease-out, -webkit-transform .7s ease-out, -moz-transform .7s ease-out, -o-transform .7s ease-out;
  transition: transform .7s ease-out, -webkit-transform .7s ease-out;
  -webkit-transform: translateX(-webkit-calc((1em + 1em * 2) * (var(--from-left) - 1)));
  -ms-transform: translateX(calc((1em + 1em * 2) * (var(--from-left) - 1)));
  -moz-transform: translateX(-moz-calc((1em + 1em * 2) * (var(--from-left) - 1)));
  -o-transform: translateX(calc((1em + 1em * 2) * (var(--from-left) - 1)));
  transform: translateX(calc((1em + 1em * 2) * (var(--from-left) - 1)))
}

.slider__nav-dot {
  margin: 0 1em;
  width: 1em;
  height: .5em;
  border: 2px solid rgba(255, 255, 255, .5);
  cursor: crosshair;
  pointer-events: all;
  display: inline-block
}

.slider__nav-dot:hover {
  border-color: rgba(255, 255, 255, .7)
}

.slider__nav-dot:active {
  border-color: rgba(255, 255, 255, .5)
}

.title {
  height: 75%;
  width: 100%;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  letter-spacing: 1px;
  -webkit-justify-content: space-between;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.title h1,
h2 {
  background-image: url(../img/giphy.gif);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: 700;
  font-family: Lora, serif;
  line-height: .9em
}

.title h1 {
  font-size: 7.5vw;
}

.title h2 {
  letter-spacing: 2vw;
  font-size: 7vw
}

.white-mode {
  text-decoration: none;
  padding: 7px 10px;
  background-color: #122;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  -webkit-transition: .35s ease-in-out;
  -o-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-family: Lora, serif
}

.white-mode:hover {
  background-color: #fff;
  color: #122
}

.wrapper .wrapper__video {
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  margin-left: 15px;
  -webkit-clip-path: var(--clip-path);
  clip-path: var(--clip-path);
  -webkit-transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: -webkit-clip-path var(--duration) var(--timing-function);
  -o-transition: clip-path var(--duration) var(--timing-function);
  -moz-transition: clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function);
  margin-top: 10%
}

.wrapper {
  --color: black;
  --color-invert: #ffffff;
  --clip-path: circle(2vw at left);
  --clip-path-hover: circle(6.5vw at left);
  --clip-path-clicked: circle(115vw at left);
  --duration: 0.4s;
  --timing-function: ease;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  -moz-box-align: center;
  width: 100%;
  height: 100vh;
  background-color: #fff
}

.wrapper .wrapper__video video {
  position: absolute;
  background: #fff;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.wrapper__text {
  position: relative;
  margin-top: 10%;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .2px;
  opacity: var(--opacity, 1);
  -webkit-transition: opacity .3s var(--timing-function) .2s;
  -o-transition: opacity .3s var(--timing-function) .2s;
  -moz-transition: opacity .3s var(--timing-function) .2s;
  transition: opacity .3s var(--timing-function) .2s;
  font-size: 2vw
}

.wrapper__text::after,
.wrapper__text::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  right: 25px;
  height: 0
}

.wrapper__text::before {
  -webkit-box-shadow: 26px 0 0 1px var(--color);
  -moz-box-shadow: 26px 0 0 1px var(--color);
  box-shadow: 26px 0 0 1px var(--color);
  right: var(--r, 100%);
  opacity: var(--opacity, 0);
  -webkit-transition: right .5s ease-in, opacity .1s linear;
  -o-transition: right .5s ease-in, opacity .1s linear;
  -moz-transition: right .5s ease-in, opacity .1s linear;
  transition: right .5s ease-in, opacity .1s linear
}

.wrapper__text::after {
  -webkit-box-shadow: 26px 0 0 1px var(--color-invert);
  -moz-box-shadow: 26px 0 0 1px var(--color-invert);
  box-shadow: 26px 0 0 1px var(--color-invert);
  -webkit-clip-path: var(--clip-path);
  clip-path: var(--clip-path);
  -webkit-transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: -webkit-clip-path var(--duration) var(--timing-function);
  -o-transition: clip-path var(--duration) var(--timing-function);
  -moz-transition: clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function)
}

.wrapper__text>span::after,
.wrapper__text>span::before {
  content: attr(data-text);
  padding-left: 26px
}

.wrapper__text>span::before {
  color: var(--color)
}

.wrapper__text>span::after {
  color: var(--color-invert);
  -webkit-clip-path: var(--clip-path);
  clip-path: var(--clip-path);
  -webkit-transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: -webkit-clip-path var(--duration) var(--timing-function);
  -o-transition: clip-path var(--duration) var(--timing-function);
  -moz-transition: clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function);
  position: absolute;
  left: 0
}

.wrapper__input {
  width: 28vw;
  height: 4vw;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 48%;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  z-index: 2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  opacity: 0
}

.wrapper__input:focus {
  outline: 0
}

.wrapper__input:hover~.wrapper__video {
  -webkit-clip-path: var(--clip-path-hover);
  clip-path: var(--clip-path-hover)
}

.wrapper__input:hover~.wrapper__text::before {
  --r: 25px;
  --opacity: 1
}

.wrapper__input:hover~.wrapper__text::after {
  -webkit-clip-path: var(--clip-path-hover);
  clip-path: var(--clip-path-hover)
}

.wrapper__input:hover~.wrapper__text>span::after {
  -webkit-clip-path: var(--clip-path-hover);
  clip-path: var(--clip-path-hover)
}

.wrapper__input:checked {
  width: 40%;
  height: 40%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0
}

.wrapper__input:checked~.wrapper__video {
  -webkit-clip-path: var(--clip-path-clicked);
  clip-path: var(--clip-path-clicked)
}

.wrapper__input:checked~.wrapper__text {
  --opacity: 0;
  -webkit-transition: opacity .3s var(--timing-function);
  -o-transition: opacity .3s var(--timing-function);
  -moz-transition: opacity .3s var(--timing-function);
  transition: opacity .3s var(--timing-function)
}

.wrapper__input:checked~.wrapper__text::after {
  -webkit-clip-path: var(--clip-path-clicked);
  clip-path: var(--clip-path-clicked)
}

.wrapper__input:checked~.wrapper__text>span::after {
  -webkit-clip-path: var(--clip-path-clicked);
  clip-path: var(--clip-path-clicked)
}

.wrapper2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center
}

.container {
  width: 100%;
  height: 100%
}

.container__greeting {
  display: inline-block;
  width: 80%;
  width: 100%
}

.greeting__wrapper {
  position: absolute;
  top: 21%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50px);
  -moz-transform: translate(-50%, -50px);
  -ms-transform: translate(-50%, -50px);
  -o-transform: translate(-50%, -50px);
  transform: translate(-50%, -50px)
}

h1 table {
  display: none;
}